@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Giest-Sans";
  src: url("./assets/fonts/GeistVF.woff");
}

@font-face {
  font-family: "InstrumentSerif-Italic";
  src: url("./assets/fonts/InstrumentSerif-Italic.ttf");
}

:root {
  font-family: "Giest-Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-dark text-white;
}

.font-instrument {
  font-family: "InstrumentSerif-Italic", serif;
}
